.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#wrapper {
  font-family: arial;
  /*margin-top: -5px;*/
}

/*#dashboard-title {
  display: inline-block;
  font-size: 50px;
  font-weight: bold;
  padding: 25px;
  background-color: lightblue;
  border-radius: 20px;
}*/

#dashboard-container {
  margin-top: -15px;
}

#data-table {
  width: 100px;
}

td {
  text-align: center;
  font-size: 17px;
  font-weight: bold;
}

/*.heading {
  text-align: center;
  font-size: 25px;
  background-color: lightgrey;
}*/

/*data-wrapper {
  border: solid black 2px;
  border-radius: 1000000px;
  background-color: whitesmoke;
  text-align: center;
}*/

.data-title {
  display: inline-block;
  font-weight: bold;
  padding: 15px;
  background-color: whitesmoke;
  border-radius: 10px;
  width: 175px;
  font-size: 22px;
  /*#f2f2fc*/
}


.data-total {
  display: inline-block;
  font-size: 100px;
  padding: 15px;
  font-weight: bold;
  /*background-color: gold;*/
  border-radius: 20px;
  margin-top: -25px;
}

#chart-label {
  display: inline-block;
  font-weight: bold;;
  font-size: 25px;
}

#netcents-image {
  height: 140px;
}

#revenue-title{
  display: inline-block;
  font-weight: bold;
  padding: 15px;
  background-color: #ccccff;
  border-radius: 10px;
  width: 175px;
  font-size: 22px;
}

#revenue-total {
  display: inline-block;
  font-size: 70px;
  padding: 15px;
  font-weight: bold;
  /*background-color: gold;*/
  border-radius: 20px;
  margin-top: -5px;
}

/*#revenue {
  display: inline-block;
  margin-top: -10px;
  font-weight: bold;
  padding: 15px;
  border-radius: 10px;
  background-color: #ccccff;
}*/

#line-chart {
  /*width: 475px;*/
  border-radius: 15px;
  margin-top: -27px;
  /*padding: 15px;*/
}

table {
  margin-top: 5px;
}

/*.table-curved {
    border-collapse: separate;
}
.table-curved {
    border: solid #ccc 1px;
    border-radius: 15px;
    border-top: 0px;
}
.table-curved td, .table-curved th {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
}
.table-curved tr > *:first-child {
    border-left: 0px;
}
.table-curved tr:first-child > * {
    border-top: 0px;
}*/
